{% extends 'factura/base.html' %}
{% load facturatags %}

{% block title %}Detalle factura{% endblock %}

{% block content %}

<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <div class="heading">
                <h1 class="title">Factura: {{ factura.num }} </h1>
            </div>
        </div>
    </div>
</section>
<div class="container"> 
    <div class="box box-good">
        <div class="box-header">
            <div class="columns is-mobile">
                <div class="column is-6">
                    <div class="shadow large"><i class="is-awesome-icon-content"> </i></div>
                </div>
                <div class="column is-6">
                    <p class="has-text-right"> </p>
                </div>
            </div>
        </div>
        <div class="box-content">
            <div class="columns is-mobile">
                <div class="column is-7">
                    <div class="content">
                        <strong> Tus Caramelos </strong><br>
                        C/ Margarita,20<br>
                        Madrid, España 28080<br>
                        Tfn: 914 75 58 41<br>
                        Email: info@tuscaramelos.com
                    </div>
                </div>
                <div class="column is-5">
                    <div class="content has-text-right">
                          <b> </b><br>
                          <br>
                          <b> </b>  <br>
                          <b> </b>  <br>
                          <b> </b> 
                    </div>
                </div>
            </div>
            </div>
            <div class="columns">
                <div class="column is-12">
                    <div class="table-is-responsive">
                         <table class="table is-inverse">
                          <thead>
                            <tr>
                              <th>Unidades</th>
                              <th>Producto </th>
                              <th>Precio unitario</th>
                              <th>Precio total</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for l in factura.lineafactura_set.all %}
                            <tr>
                                  <td>{{ l.unidades }}</td>
                                  <td>{{ l.nombre_producto }}</td>
                                  <td>{{ l.precio_unitario }} €</td>
                                  <td>{{ l.base_imponible }} €</td>
                            {% endfor %}
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="column is-5">
                
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                    <li class="list-group-item">
                      <b>IVA:</b> 
                      <p class="is-pulled-right"><b> 
                        {{ factura.get_iva_total }} €
                        </b></p>
                      <br>
                      <b>Total:</b> 
                      
                      <p class="is-pulled-right"><b>  
                            {{ factura.get_precio_total }} €
                        </b></p>
                     
                    </li>
                  </ul>
            </div>
            <div class="box-footer has-text-right">
                <a href="{% url 'facturas' %}" class="button">Cancel</a>
                <a href="https://www.paypal.com/es/home" class="button is-dark">
                  <span>Pagar</span>
                </a>
            </div>
        </div>
    </div>
            

{% endblock content %}